/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #cecccc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h2 {
  margin: 0;
}

/* =================== PROFILE ===================== */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.profile {
  width: 330px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
}

.name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.tag {
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

.location {
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

.stats {
  width: 100%;
  display: flex;
  background-color: rgb(224, 224, 224);
  align-items: baseline;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 3);
  padding: 20px 10px;
}

.stats-item:not(:last-child) {
  border-right: 1px solid grey;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: grey;
  margin-bottom: 10px;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}

/* ========================= STATICSTICS ===================*/

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.statistics-container {
  width: 330px;
  background-color: white;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin: 20px 0px;
}

.stat-list {
  display: flex;
  align-items: center;
}

.stat-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-basis: calc(100% / 5);
  background-color: rgb(224, 224, 224);
}

.stat-list-item:not(:last-child) {
  border-right: 1px solid grey;
}

.stat-label {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.stat-percentage {
  font-size: 20px;
  font-weight: 700;
}

/* ================ FRIENDS ================ */
.friends-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.friend-list {
  display: block;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.friends-item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(153, 152, 152);
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.friends-avatar {
  background-color: rgb(224, 224, 224);
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

.friends-name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

/* ================ TRANSACTIONS================ */

.transaction-history {
  margin: 0 auto;
  background-color: white;
  width: 330px;
  margin-bottom: 30px;
}

.transaction-tr-thead {
  background-color: rgb(224, 224, 224);
}

.transaction-th {
  font-size: 22px;
  padding: 10px 20px;
  border: 1px solid grey;
}

.transaction-tr-tbody {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
}

.transaction-td-type,
.transaction-td-currency {
  padding: 5px 10px 5px 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border: 1px solid grey;
}

.transaction-td-amount {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid grey;
}
